@import 'sass/_variable.scss';

//start home
.home {
  background: $darkColor;
  padding: 50px 0;
  header {
    .navbar-wrapper {
      .navbar {
        .navbar-brand {
          background: $darkLightColor;
          padding: 5px 20px;
          border-radius: $borderRadius;
          text-transform: uppercase;
          letter-spacing: 3px;
          font-family: $brandFontFamily;
          font-size: 35px;
          @media (max-width: 575.98px) {
            font-size: 25px;
          }
        }
        .navbar-toggler{
          @media (max-width: 575.98px) {
            padding: 5px;
          }
        }
        .navbar-collapse{
          margin-top: 20px;
          .navbar-nav {
            background: $darkLightColor;
            padding: 0 30px;
            border-radius: $borderRadius;
            text-transform: uppercase;
            .nav-item {
              margin-right: 50px;
              border-bottom: 5px solid transparent;
              padding: 10px 0;
              box-sizing: border-box;
              transition: all ease-in-out .2s;
              @media (max-width: 991.98px) {
                border: none;
              }
              .nav-link {
                color: #fff;
                transition: all ease-in-out .2s;
              }
              .nav-link:hover{
                @media (max-width: 991.98px) {
                  color: $borderColor;
                }
              }
            }
            .nav-item:last-of-type {
              margin-right: 0;
            }
            .nav-item.active{
              border-color: $borderColor;
            }
            .nav-item:hover {
              border-color: $borderColor;
            }
          }
        }
      }
    }
  }
}

//end home

