@import "variable.scss";
//start buttons
//download cv button
.download-cv {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  width: 360px;
  height: 65px;
  line-height: 48px;
  margin: 25px auto;
  display: block;
  border-radius: 22px;
  background: $border_color;
  font-size: 24px;
  @media (max-width: 575.98px) {
    font-size: 18px;
    width: 190px;
    height: 50px;
    line-height: 33px;
  }
  &:hover {
    background: $job_title_color;
    color: #fff;
  }
  &:focus {
    background: $job_title_color;
    color: #fff;
  }
}

//all projects button
button.all-projects {
  display: block;
  margin: 35px auto 0;
  background: $dark_light_color;
  border-color: $dark_light_color;
  color: #fff;
  border-radius: 20px;
  width: 260px;
  height: 47px;
  text-transform: uppercase;
  font-size: 14px;
  @media (max-width: 575px) {
    width: 220px;
  }
  &:hover {
    background: $dark_light_color;
    border-color: $dark_color;
  }
  &:focus {
    background: $dark_light_color;
    border-color: $dark_color;
  }
}

//contact button
button.contact-btn {
  display: block;
  margin: 80px auto;
  background: transparent;
  border: 2px solid $dark_light_color;
  color: #fff;
  border-radius: 20px;
  width: 260px;
  height: 47px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 22px;
  @media (max-width: 575px) {
    width: 220px;
  }
  &:hover {
    background: $dark_light_color;
    border-color: $dark_light_color;
  }
  &:focus {
    background: $dark_light_color;
    border-color: $dark_light_color;
  }
}

//to top button
.to-top {
  position: relative;
  display: none;
  a {
    position: fixed;
    right: 25px;
    bottom: 25px;
    color: $to_top_color;
    text-decoration: none;
    @media (max-width: 575px) {
      right: 7px;
    }
  }
}
//end buttons
