//color
$darkColor: #192734;
$darkLightColor: #213243;
$borderColor: #21AE62;
$sectionsHeadsColor: #ADBCCB;
$lineBeforeColor: #C1C5C8;
$paragraphsColor: #C3D6E9;

//border
$borderRadius: 9px;

//padding
$sectionsPadding: 145px 0;

//font family
$brandFontFamily: 'Questrial', sans-serif;
$firstNameFontFamily: 'Quicksand', sans-serif;
$secondNameFontFamily: 'Prompt', sans-serif;
$jobTitleFontFamily: 'Julius Sans One', sans-serif;
$sectionsChildHeadsFontFamily: 'Eagle Lake', cursive;

//mixins


//shared
